body {
    background-color: #F1F1F2;
}

.wrapper {
    position: relative;
    width: 960px;
    padding: 40px 20px 40px 20px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px #0b0b0c12;
}

.title_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    display: flex;
    gap: 200px;
    justify-content:center;
    align-items: center;
    padding: 10px 20px;
    background-color: #3A5199;
    border-radius: 10px 10px 0 0;
}

.title_name, .title_status{
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    font-weight: 600;
}

.title_name{
    padding: 0 100px 0 250px;
}

.title_status{
    padding: 0 100px 0 50px;
}
